{% extends "base.html"%}
{%block title%}Thought Bulletin{% endblock %}

{% block page_content %}
<!-->Add a fabric command bar here<-->
<div class="ms-Grid">
<ul class="ms-List">
	
	{% for suggestion in suggestions %}
	<div class="ms-ListItem is-selectable is-unread" style="border-bottom: 1px solid #EEE;margin-top:0.5em" data="{{suggestion.id}}">
		<span class="ms-ListItem-primaryText">{{suggestion.content}}
		</span>
		<span class="ms-ListItem-secondaryText">
			{{suggestion.votes}}
		</span>
		<span class="ms-ListItem tertiaryText">
			{{suggestion.user}}
		</span>
		<div class="ms-ListItem-selectionTarget js-toggleSelection "></div>
		<div class="ms-ListItem-actions ms-font-xl">
            <div class="ms-ListItem-action"><i class="ms-Icon  ms-Icon--arrowUp"></i></div>
            <div class="ms-ListItem-action"><i class="ms-Icon  ms-Icon--arrowDown"></i></div>
        </div>
    </div>
	{% endfor %}
</ul>
</div>
{% endblock %}

