{% extends "base.html"%}
{%block title%}Thought Bulletin{% endblock %}

{% block page_content %}
<div class="page-header center-block">
	<ul class="nav nav-pills">
		<li class="active"><a href="#">Vote</a> </li>
		<li><a href="{{url_for('main.addSuggestion')}}">Add Feature Requests</a></li>
	</ul>

</div>

{% for suggestion in suggestions %}
<div class="row" style="border-bottom: 1px solid #EEE;margin-top:0.5em">
	<div class="container">
		<div class="col-md-2">
			<p>{{suggestion.id}}</p>
			
		</div>
		<div class="col-md-2">
			{% if suggestion.votes > 0 %}
			<p>+{{suggestion.votes}}</p>
			{% else %}
			<p>0</p>
			{% endif %}
		</div>
		<div class="col-md-4">
			<p class="text-left">{{suggestion.content}}</p>
			<p>by <b>{{suggestion.user}}</b></p>
		</div>

		<div class="col-md-4">
		<a href="{{url_for('api.vote',id=suggestion.id, vote = 1)}}">Yes</a>
		<a href="{{url_for('api.vote',id=suggestion.id, vote = 0)}}">No</a>
	</div>
		
	</div>
	
</div>
{% endfor %}

{% endblock %}

